<script type="text/html" data-recharge-slot="overview.sidebar">
    <div id="aff-date-picker"></div>
</script>

<script>
    document.addEventListener("Recharge::slot::mounted", (event) => {
        console.log("Event detail", event);
        if (event.detail.name === "header" && event.detail.pathname === "/overview") {
            // Initialize my app
            const sidebarWidget = document.getElementById("aff-date-picker");
            sidebarWidget.innerHTML = "<p>Sidebar widget</p>";
        }
    });
</script>

<script>   
    // Customize the message to guide customers to contact you
    const alertMessage = "This is the alert message.";
    
    // Listen for the cancellation flow event
    document.addEventListener(
      "Recharge::click::reschedule",
      (event) => {
        const subscriptionId = event.detail.payload.subscriptionId;
        console.log("Subscription ID", subscriptionId);

        console.log("Event detail", event.detail);
        {% comment %} event.preventDefault(); {% endcomment %}
        alert(alertMessage);
      }
    );

    // Listen for the reschedule flow event and then update the billing date
    document.addEventListener("Recharge::action::reschedule", (event) => {
        console.log("Event detail", event);
        const subscriptionId = event.detail.payload.subscriptionId;
        console.log("Subscription ID billing date update", subscriptionId);
        alert("Run a script here to update the date");
    });
</script>