<script type="text/html" data-recharge-slot="overview.sidebar">
    <div id="aff-date-picker"></div>
</script>

<script>
    document.addEventListener("Recharge::slot::mounted", (event) => {
        console.log("Event detail", event);
        if (event.detail.name === "header" && event.detail.pathname === "/overview") {
            // Initialize my app
            const sidebarWidget = document.getElementById("aff-date-picker");
            sidebarWidget.innerHTML = "<p>Date picker widget</p>";
        }
    });
</script>

<script>   
    // Customize the message to guide customers to contact you
    const alertMessage = "This is the alert message.";
    
    // Listen for the cancellation flow event
    document.addEventListener(
      "Recharge::click::reschedule",
      (event) => {
        const subscriptionId = event.detail.payload.subscriptionId;
        console.log("Subscription ID", subscriptionId);


        console.log("Event detail", event.detail);
        {% comment %} event.preventDefault(); {% endcomment %}
        alert(alertMessage);
      }
    );
</script>

<script> 
window.RechargeExtensions.reschedule = { 
  disableQuickOptions: false, 
  disableCalendar: false, 
  quickOptions: [ 
    { 
      frequency: 2, 
      unit: 'week'
    },
    { 
      frequency: 4, 
      unit: 'week'
    }  
  ], 
  calendar: { 
    enableDaysOfWeek: ['mon', 'thu'],
  } 
};
</script>