<script src="{{ 'affinity-date-picker-modal-OLD.js' | asset_url }}" defer="defer"></script>
{{ 'affinity-extensions.css' | asset_url | stylesheet_tag }}
{% comment %} {{ 'vite-affinity-customisations.css' | asset_url | stylesheet_tag }} {% endcomment %}

{% comment %} <div id="affinity-customisations"></div> {% endcomment %}
<template id="custom-modal-template">
  <div class="custom-modal-overlay">
    <div class="custom-modal">
      <button class="custom-modal-close" aria-label="Close">&times;</button>
      <h2 class="custom-modal-title">Modal Title</h2>
      <div class="custom-modal-body">Modal content goes here.</div>
    </div>
  </div>
</template>

<script>
  console.log('Custom modal script loaded.');
  const modal = document.createElement('custom-modal');
  document.body.appendChild(modal);
  modal.open();
</script>
