<script type='text/html' data-recharge-slot='overview.header'>
  <div id="affinity-delivery-date-section" class="deliverycard" style="display:none;">
    <h2 class="deliverycard__heading">Your next order</h2>
    <div id="affinity-delivery-date-widget" class="affinity-delivery-date-widget">
      <div class="deliverycard__dates-wrapper">
        <div class="deliverycard__date-wrapper">
          <h2 class="deliverycard__label">Charge date</h2>
          <h3 id="charge-date" class="deliverycard__date"></h3>
        </div>
        <div class="deliverycard__date-wrapper">
          <h2 class="deliverycard__label">Delivery date</h2>
          <h3 id="upcoming-delivery-date" class="deliverycard__date"></h3>
        </div>
      </div>
      <div class="deliverycard__button-wrapper">
        <button id="reschedule-next-order" class="deliverycard__button">
          <svg viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg" width="17" height="16"><g stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"><path d="M4.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1ZM8.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1ZM4.5 12a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1ZM8.5 12a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1ZM12.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1ZM1.071 4H15.93"></path><path d="M14.786.571H2.214c-.63 0-1.143.512-1.143 1.143v12.572c0 .63.512 1.142 1.143 1.142h12.572c.63 0 1.143-.511 1.143-1.142V1.714c0-.631-.512-1.143-1.143-1.143Z"></path></g></svg>
          <div>Reschedule</div>
        </button>
        <button id="skip-next-order" class="deliverycard__button">
          <svg viewBox="0 0 16 7" fill="none" xmlns="http://www.w3.org/2000/svg" width="16" height="7"><path d="m12.072 5.571 2.285.572m0 0 .572-2.286m-.572 2.286C13.397 3.514 10.45 1 7.5 1a6.857 6.857 0 0 0-6.446 4.571" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
          <div>Skip</div>
        </button>
        <button id="unskip-next-order" class="deliverycard__button">
          <svg viewBox="0 0 16 7" fill="none" xmlns="http://www.w3.org/2000/svg" width="16" height="7"><path d="m12.072 5.571 2.285.572m0 0 .572-2.286m-.572 2.286C13.397 3.514 10.45 1 7.5 1a6.857 6.857 0 0 0-6.446 4.571" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
          <div>Unskip</div>
        </button>
      </div>
    </div>
  </div>
</script>

<script>
  const deliveryDateWidgetManager = {
    wrapperContainerId: 'affinity-delivery-date-section',
    targetContainerId: 'affinity-delivery-date-widget',
    chargeContainerId: 'charge-date',
    upcomingContainerID: 'upcoming-delivery-date',
    offset: 3,

    async getCharge() {
      const charges = await rechargeAPI.fetchCharges();
      return charges.find((charge) => {
        const isValidStatus = charge.status === 'queued' || charge.status === 'skipped';
        const scheduledDate = new Date(charge.scheduled_at);
        const now = new Date();
        const isNotExpired = scheduledDate >= now;
        return isValidStatus && isNotExpired;
      });
    },

    calcuateDeliveryDate(date) {
      const deliveryDate = new Date(date);
      deliveryDate.setDate(deliveryDate.getDate() + this.offset);
      return deliveryDate;
    },

    formatDate(dateString) {
      const options = { year: 'numeric', month: 'short', day: '2-digit' };
      const date = new Date(dateString);
      return date.toLocaleDateString('en-GB', options);
    },

    updateOrderActionsWidget(charge) {
      console.log('Updating order actions widget with charge:', charge);
      const chargeDate = charge.scheduled_at;
      const deliveryDate = this.calcuateDeliveryDate(chargeDate);
      const content = `
        <div class="deliverycard__date-wrapper">
          <h2 class="deliverycard__label">Charge date</h2>
          <h3 id="charge-date" class="deliverycard__date">${this.formatDate(chargeDate)}</h3>
        </div>
        <div class="deliverycard__date-wrapper">
          <h2 class="deliverycard__label">Delivery date</h2>
          <h3 id="upcoming-delivery-date" class="deliverycard__date">${this.formatDate(deliveryDate)}</h3>
        </div>
      `;

      const update = () => {
        const widget = document.querySelector('.recharge-component-next-order-date');
        if (widget) {
          widget.innerHTML = content;
          observer.disconnect();
        }
      };

      update();
      const observer = new MutationObserver(update);
      observer.observe(document.body, { childList: true, subtree: true });
    },

    async init() {
      try {
        await rechargeAPI.authenticate();
        const charge = await this.getCharge();
        if (charge) this.mountWidget(charge);
      } catch (error) {
        console.error('Initialization failed:', error);
      }
    },

    mountWidget(charge) {
      window.BoxConfig = {
        containerId: this.targetContainerId,
        chargeConfig: { charge },
      };
      this.updateOrderActionsWidget(charge);
    },
  };

  const deliveryDateWidgetstateManager = {
    widgetEventsToHandle: {
      subscriptionRescheduled: 'Recharge::action::reschedule',
    },
    widgetEventsToTrigger: {
      reschedule: 'Recharge::click::reschedule',
      skip: 'Recharge::order::openSkipModal',
      unskip: 'Recharge::order::unskip',
    },

    dispatchEvent(eventName, payload = {}) {
      document.dispatchEvent(new CustomEvent(eventName, { detail: { payload } }));
    },

    refreshDeliveryDateWidget() {
      deliveryDateWidgetManager.init();
    },

    unskip() {
      this.dispatchEvent(this.widgetEventsToTrigger.unskip);
    },

    openSkipModal() {
      this.dispatchEvent(this.widgetEventsToTrigger.skip);
    },

    openRescheduleModal(subscriptionIds) {
      this.dispatchEvent(this.widgetEventsToTrigger.reschedule, { subscriptionIds });
    },
  };

  const rescheduleModalManager = {
    async open(subscriptionIds) {
      const nextChargeDate = await rechargeAPI.getNextChargeDate(subscriptionIds[0]);
      const rescheduleModal = document.createElement('reschedule-modal');
      document.body.appendChild(rescheduleModal);
      rescheduleModal.setAttribute('subscription-ids', JSON.stringify(subscriptionIds));
      rescheduleModal.setAttribute('next-charge-date', nextChargeDate);
    },
  };

  document.addEventListener('Recharge::slot::mounted', (event) => {
    if (event.detail.name === 'header' && event.detail.pathname === '/overview') {
      deliveryDateWidgetManager.init();
    }
  });

  document.addEventListener('Recharge::click::reschedule', (event) => {
    event.preventDefault();
    rescheduleModalManager.open(event.detail.payload.subscriptionIds);
  });
</script>
