/* Affinity card styling */
.recharge-section-next-order-actions h1 {
  font-size: var(--recharge-typography-size-3);
  font-weight: bold;
  line-height: 123%;
  margin: 0 0 20px;
}

/* Delivery Card */
.deliverycard__date-wrapper {
  flex: 1 1 auto;
}

.deliverycard__label {
  font-size: var(--recharge-typography-size-5);
  line-height: 150%;
  font-weight: var(--recharge-typography-body-font-weight);
  padding: 0;
  margin: 0;
}

.deliverycard__date {
  font-size: var(--recharge-typography-size-3);
  font-weight: var(--recharge-typography-heading-font-weight);
  line-height: 123%;
  color: var(--recharge-color-text-secondary);
  padding: 0;
  margin: 0;
}

.recharge-component-next-order-date {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1024px) {
  .recharge-component-next-order-date {
    flex-direction: row;
  }
}

/* Delivery Modal */
.deliverymodal__overlay {
  position: fixed;
  inset: 0;
  background: #0b131740;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 9999999999;
  color: var(--recharge-typography-primary);
}

.deliverymodal__modal {
  background: #fff;
  border-top-left-radius: var(--recharge-corners-radius);
  border-top-right-radius: var(--recharge-corners-radius);
  width: var(--fgp-width, 600px);
  max-width: var(--fgp-max-width, 100vw);
  max-height: 90vh; /* Limit modal height to 90% of viewport */
  padding: 24px;
  position: relative;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  animation: modal-in 0.2s;
  font: var(--recharge-typography-body-font-family);
  overflow-y: auto; /* Enable vertical scrolling inside modal */
}

@media screen and (min-width: 1024px) {
  .deliverymodal__overlay {
    align-items: center;
  }
  .deliverymodal__modal {
    border-bottom-left-radius: var(--recharge-corners-radius);
    border-bottom-right-radius: var(--recharge-corners-radius);
  }
}

.deliverymodal__close-wrapper {
  z-index: 1;
  position: sticky;
  top: 0;
  left: 20px;
  display: flex;
  justify-content: flex-end;
}

.deliverymodal__close {
  display: inline-flex;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 100%;
  transition-property: background-color, color;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}

.deliverymodal__close:hover {
  color: var(--recharge-button-secondary-120);
  background-color: var(--recharge-color-brand-75);
}

.deliverymodal__close:focus,
.deliverymodal__close:focus-within {
  outline-offset: 2px;
  outline: 2px solid var(--recharge-color-brand);
}

.deliverymodal__close > div {
  width: 32px;
  height: 32px;
  padding: 4px;
  line-height: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@keyframes modal-in {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.deliverymodal__header {
  margin-top: -32px;
  padding-right: 32px;
}

.deliverymodal__title {
  font-size: var(--recharge-typography-size-3);
  line-height: 123%;
  font-weight: var(--recharge-typography-heading-font-weight);
  margin: 0;
  padding-bottom: 12px;
}

.deliverymodal__description {
  font-size: var(--recharge-typography-size-5);
  line-height: 150%;
  font-weight: var(--recharge-typography-body-font-weight);
  margin: 0;
  padding-bottom: 16px;
}

.deliverymodal__body fieldset {
  border: 0;
  margin-inline: 0;
  margin-block-end: 1rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.deliverymodal__body fieldset > label {
  text-align: left;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  margin: 0;
  border: 1px solid var(--recharge-color-brand-60);
  border-radius: var(--recharge-corners-radius);
  display: flex;
  align-items: center;
}

/* Selected state when radio is checked */
.deliverymodal__body fieldset label:has(input[type='radio']:checked) {
  background: var(--recharge-color-brand-120);
  color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

/* Optional: hover effect */
.deliverymodal__body fieldset label:hover {
  background: var(--recharge-color-brand-120);
  color: #fff;
}

.deliverymodal__footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.deliverymodal__button {
  border: 0;
  border-radius: var(--recharge-button-border-radius);
  font-size: var(--recharge-typography-size-5);
  font-family: var(--recharge-typography-body-font-family);
  font-weight: 600;
  line-height: 150%;
  padding: 10px 16px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex: 1 1 auto;
  letter-spacing: 0.6px;
}

.deliverymodal__button[disabled='true'] {
  opacity: 0.6;
}

.deliverymodal__button.affinity-reschedule {
  background-color: var(--recharge-button-brand);
  color: var(--recharge-button-color);
}

.deliverymodal__button.affinity-reschedule:hover {
  background-color: var(--recharge-color-brand-120);
  border-color: var(--recharge-color-brand-120);
}

.deliverymodal__button.affinity-reschedule.loading {
  background-color: var(--recharge-color-brand-120);
  opacity: 0.2;
}

.deliverymodal__button.affinity-reschedule .loader {
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: none;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.deliverymodal__button.affinity-reschedule.loading .loader {
  display: inline-block;
}

.deliverymodal__button.affinity-reschedule.loading .label {
  display: none;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.deliverymodal__button.affinity-cancel {
  background-color: transparent;
  color: var(--recharge-button-secondary);
}

.deliverymodal__button.affinity-reschedule:hover {
  border-color: var(--recharge-color-brand-120);
}

/* Prevent background scroll when modal is open */
body.modal-open {
  overflow: hidden !important;
}
